.avatar {
    --speed: 10s;
    --border-w: -5px;
    --border-clr: #340525;
    position: relative; /* serve per il ::before posizionato */
    width: 200px; /* esempio di dimensione */
    height: 200px;
}

.avatar img {
    width: 100%;
    height: 57%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: var(--border-w);
    right: var(--border-w);
    bottom: var(--border-w);
    left: var(--border-w);
    border-radius: 50%;
    background: conic-gradient(transparent 75%, var(--border-clr) 100%);
    animation: rotate-border var(--speed) linear infinite;
}

@keyframes rotate-border {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

#nickname {
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
}

.p-font-bold {
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
}

:root {
    --particles: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 122 116'%3E%3Cpath id='b' stroke='%23fff' stroke-linecap='round' stroke-width='0' d='M17.9256 115C17.434 111.774 13.1701 104.086 13.4282 95.6465C13.6862 87.207 18.6628 76.0721 17.9256 64.3628C17.1883 52.6535 8.7772 35.9512 9.00452 25.3907C9.23185 14.8302 16.2114 5.06512 17.9256 1'%3E%3C/path%3E%3Cpath id='d' stroke='%23fff' stroke-linecap='round' stroke-width='0' d='M84.1628 115C85.2376 112.055 94.5618 98.8394 93.9975 91.1338C93.4332 83.4281 82.5505 73.2615 84.1628 62.5704C85.775 51.8793 96.4803 35.4248 95.9832 25.7826C95.4861 16.1404 87.9113 4.71163 84.1628 1'%3E%3C/path%3E%3Cpath id='f' stroke='%23fff' stroke-li
